/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles pour l'en-tête */
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  /* Styles pour la barre de navigation */
  nav {
    background-color: #444;
    padding: 0.5em 0;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* Styles pour la section principale */
  main {
    padding: 20px;
  }
  
  /* Styles pour le pied de page */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  